html {
    font-size: 20px;
    background: #e9ecc4;
    background-size: 100% 100%;
    font-family: Times;
    color: #561c20;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.btn {
    margin: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    outline: none
}

.btn:hover {
    transform: scale(1.2);
    border-color: #561c20;
}

.btn img {
    pointer-events: none;
}

img {
    width: 125px;
    height: 150px;
}

.text {
    align-content: center;
    text-align: center;
}